<footer>
    <!-- <a href="#home"> &uarr; Back to top &uarr;</a> -->
    <img src="https://softuni.bg/Content/images/about-page/softuni.png" alt="">
    <p>Software University - JavaScript Back-End September 2019 Season</p>
    <p>@2019 MoneyGone. All Rights Reserved &copy;</p>
</footer>